@model SEProject.Models.DaoTao

@{
    ViewBag.Title = "xóa";
}

<h2>Xóa</h2>

<h3>Bạn có chắc muốn xóa?</h3>
<fieldset>
    <legend>DaoTao</legend>

    <div class="display-label">
         <h4>Tên môn học</h4>
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.tenMonHoc)
    </div>

    <div class="display-label">
         <h4>Tên giảng viên</h4>
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.tenGiangVien)
    </div>
</fieldset>
@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    <p>
        <input type="submit" value="Xóa" /> |
        @Html.ActionLink("Quay lại danh sách", "Index")
    </p>
}
